body {
    background-color: beige;
}

table {
    width: 20vw;
}
table tr:nth-child(even) {
    background-color: beige;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table tfoot {
    font-weight: bold;
    
}